@charset "utf-8";

.container {
  max-width: 130rem;
  padding: 7rem 6rem;
  margin: 0 auto;
}

.slogan {
  margin-top: 5%;
  display: flex;
  gap: 4.8rem;
}

.slogan-img {
  max-width: 71rem;
  height: auto;
}

.slogan-img img {
  max-width: 100%;
}

.slogan-text {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.slogan-text h2 {
  color: #f5f5f5;
  line-height: 1.5;
  font-family: var(--font-for-headings);
  font-size: 3.2rem;
  font-weight: bold;
}

.slogan-text p {
  color: #f5f5f5;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

button {
  max-width: 100%;
  width: 20rem;
  border-radius: 2.4rem;
  padding: 1.8rem;
  border: none;
  color: var(--primary-color);
  font-size: 1.8rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

button:hover,
.social-links i:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.social-links {
  color: var(--light-color);
  margin-right: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2.4rem;
}

.social-links i {
  width: 4rem;
  height: 4rem;
  font-size: 1.8rem;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.social-links i:hover {
  background-color: var(--secondary-color);
}
