@charset "utf-8";

@media (max-width: 768px) {
  body {
    background-image: url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slogan-img {
    max-width: 60rem;
    height: auto;
  }

  .slogan-img img {
    max-width: 100%;
  }

  .slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.3px;
  }

  .slogan-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-links {
    margin: 0;
  }
}
