@charset "utf-8";

.advice-card {
  width: 100%;
  max-width: 60rem;
  border-radius: 1rem;
  background-color: var(--neutral-color2);
  border: 2px solid var(--neutral-color2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advice-container {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.advice-container p {
  text-transform: uppercase;
  color: var(--primary-color2);
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.advice-container h2 {
  font-size: 2rem;
  color: var(--primary-color1);
  letter-spacing: 1.5px;
}

.advice-container button {
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--primary-color2);
  transition: all ease-in-out 0.3s;
}

.advice-container button:active {
  transform: scale(1.1);
}

.advice-container button img {
  display: flex;
  align-items: center;
  justify-content: center;
}