@charset "utf-8";

footer {
  background-color: var(--color-footer);
  padding: 1rem;
  max-width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer p, footer a {
  font-size: 1.3rem;
  color: var(--color-default);
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
}

.social-links a i {
  font-size: 2rem;
}

.social-links a:active i {
  filter: opacity(0.6);
}

.social-links a:nth-child(2) i {
  color: var(--color-special-icon);
}

