@charset "utf-8";

header {
  color: var(--neutral-color1);
  max-width: 60rem;
  margin: 0 auto;
  padding: 2.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header h1 {
  font-size: 3.2rem;
}

header h1:first-child {
  font-weight: 200;
}

p {
  font-size: 1.6rem;
  color: var(--neutral-color2);
}
